In [61]:
import pandas as pd
import numpy as np

In [62]:
prev = pd.read_excel(r'coffee_full.xlsx')
aromas_only = pd.read_excel(r'coffee_aromas_only.xlsx')

In [63]:
aromas_only = aromas_only.iloc[:,1:]

In [64]:
aromas_only.reset_index(inplace=True)
aromas_only.head()

,index,sugar,syrup,molasses,sugarcane,caramel,honey,nougat,halvah,praline,...,cheese,earth,yogurt,vinegar,butter,frankincense,graham cracker,caraway seed,malted barley,ginger
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,3,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [65]:
coffee_full2 = prev.merge(aromas_only, on=('index'), suffixes=('_prev', '_aromas'))

In [66]:
# coffee_full2.to_excel('coffee_full2.xlsx',index = True)

In [67]:
coffee_full2.head(1)

,index,company,coffee,rating,review,Roaster Location,Coffee Origin,Roast Level,Agtron,Est. Price,...,cheese,earth,yogurt,vinegar,butter,frankincense,graham cracker,caraway seed,malted barley,ginger
0,0,Paradise Roasters,Ka’u Pink Honey,94,"Tropically sweet, floral-driven. Star jasmine,...","Minneapolis, Minnesota","Ka'u District, Big Island of Hawai’i",Light,64/84,$24.95/4 ounces,...,0,0,0,0,0,0,0,0,0,0

In [68]:
df_temp = coffee_full2.iloc[:,np.r_[0,18,33:245]]
df_temp.head(5)

,index,Coffee Origin_last,sugar,syrup,molasses,sugarcane,caramel,honey,nougat,halvah,...,cheese,earth,yogurt,vinegar,butter,frankincense,graham cracker,caraway seed,malted barley,ginger
0,0,United States,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,United States,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,United States,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2,Guatemala,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,2,Guatemala,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [69]:
df_dropped = df_temp.drop_duplicates(subset ="index", keep = False, inplace = False)

In [70]:
df_dropped

,index,Coffee Origin_last,sugar,syrup,molasses,sugarcane,caramel,honey,nougat,halvah,...,cheese,earth,yogurt,vinegar,butter,frankincense,graham cracker,caraway seed,malted barley,ginger
2,1,United States,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
19,3,Ecuador,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,6,Ethiopia,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
32,7,Ethiopia,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41,10,Colombia,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7885,3837,Burundi,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7890,3839,Colombia,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7916,3846,India,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7917,3847,Ethiopia,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7929,3852,Colombia,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [83]:
aroma_counts = df_dropped.groupby('Coffee Origin_last').sum()
aroma_counts = aroma_counts.iloc[:,1:]
aroma_counts = aroma_counts.iloc[:,np.r_[0,2:212]]
aroma_counts

,sugar,molasses,sugarcane,caramel,honey,nougat,halvah,praline,toffee,almond,...,cheese,earth,yogurt,vinegar,butter,frankincense,graham cracker,caraway seed,malted barley,ginger
Coffee Origin_last,,,,,,,,,,,,,,,,,,,,,
Bolivia,0,1,0,2,4,0,0,0,0,1,...,0,1,0,0,1,0,0,0,0,0
Brazil,5,2,0,3,5,1,0,0,0,9,...,0,2,0,0,4,1,0,0,0,2
Burundi,3,0,0,3,7,1,0,0,1,9,...,0,0,0,0,3,2,0,0,0,1
China,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
Colombia,7,8,0,10,27,2,0,0,0,17,...,1,5,2,0,25,5,0,1,0,3
Costa Rica,6,6,1,9,5,0,0,0,2,13,...,0,3,3,0,10,2,1,0,0,2
Dominica,0,0,0,0,1,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
Ecuador,4,0,0,2,3,1,0,0,0,2,...,0,1,0,0,1,0,0,0,0,1
El Salvador,1,1,0,3,7,1,0,0,0,11,...,0,1,0,0,6,2,0,0,0,1
Ethiopia,27,22,0,30,67,9,0,1,2,63,...,0,10,2,0,42,11,2,0,0,6
Guatemala,5,15,0,8,23,1,0,1,0,12,...,0,4,1,0,14,0,0,0,0,1
Guinea,0,1,0,1,2,0,0,0,0,2,...,0,0,0,0,1,0,0,0,0,0
Haiti,0,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
Honduras,2,1,0,5,2,0,0,0,1,1,...,0,2,0,0,6,0,0,0,0,0
India,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Indonesia,3,8,0,10,25,1,2,0,2,14,...,0,6,0,1,10,3,0,0,0,0
Jamaica,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Kenya,8,14,0,17,35,2,0,0,4,29,...,0,11,0,0,16,5,0,1,1,3
Laos,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Madagascar,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Malawi,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Malaysia,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
Mexico,2,1,0,1,2,0,0,0,0,3,...,0,0,0,0,0,0,0,0,0,0
Nepal,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Nicaragua,0,1,0,1,3,1,1,0,1,7,...,1,1,0,0,2,3,0,0,0,1
Panama,4,2,0,14,27,1,1,0,1,23,...,2,1,0,0,8,2,1,0,0,1
Peru,0,1,0,0,3,1,0,0,0,6,...,0,2,0,0,3,0,0,0,0,0
Philippines,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Puerto Rico,0,0,0,0,0,0,0,0,0,2,...,0,0,0,0,1,0,0,0,0,0
Republic of the Congo,0,0,0,1,2,0,0,0,1,2,...,0,0,0,0,0,0,0,0,0,0
Rwanda,0,4,0,4,5,1,0,0,0,2,...,0,1,0,0,4,2,1,1,0,0
Saint Helena Island,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
South Africa,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Taiwan,4,1,0,1,2,0,0,0,0,4,...,0,0,0,0,2,1,0,0,0,0
Tanzania,0,0,0,3,4,0,0,0,0,1,...,0,1,0,0,2,0,0,0,0,0
Thailand,0,0,0,1,1,2,0,0,1,1,...,0,2,0,0,1,0,0,0,0,0
Uganda,0,0,0,0,1,1,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
United States,7,5,0,6,16,3,0,0,1,13,...,1,4,3,0,10,1,0,1,1,2
Yemen,1,1,0,0,1,0,0,0,0,1,...,0,1,0,0,2,0,1,0,0,1
Zambia,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
Zimbabwe,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [72]:
aroma_counts.to_excel('coffee_aromas_counts.xlsx',index = True)

In [73]:
aroma_percentages = aroma_counts.div(aroma_counts.sum(axis=1), axis=0)

In [74]:
# aroma_counts['total'] = aroma_counts.sum(axis=1)

In [75]:
aroma_percentages.head()

,sugar,syrup,molasses,sugarcane,caramel,honey,nougat,halvah,praline,toffee,...,cheese,earth,yogurt,vinegar,butter,frankincense,graham cracker,caraway seed,malted barley,ginger
Coffee Origin_last,,,,,,,,,,,,,,,,,,,,,
Bolivia,0.000000,0.065217,0.010870,0.0,0.021739,0.043478,0.000000,0.0,0.0,0.000000,...,0.000000,0.010870,0.000000,0.0,0.010870,0.000000,0.0,0.000000,0.0,0.000000
Brazil,0.016667,0.103333,0.006667,0.0,0.010000,0.016667,0.003333,0.0,0.0,0.000000,...,0.000000,0.006667,0.000000,0.0,0.013333,0.003333,0.0,0.000000,0.0,0.006667
Burundi,0.015385,0.087179,0.000000,0.0,0.015385,0.035897,0.005128,0.0,0.0,0.005128,...,0.000000,0.000000,0.000000,0.0,0.015385,0.010256,0.0,0.000000,0.0,0.005128
China,0.000000,0.086957,0.000000,0.0,0.000000,0.043478,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.043478,0.000000,0.0,0.000000,0.0,0.000000
Colombia,0.006803,0.074830,0.007775,0.0,0.009718,0.026239,0.001944,0.0,0.0,0.000000,...,0.000972,0.004859,0.001944,0.0,0.024295,0.004859,0.0,0.000972,0.0,0.002915

In [76]:
aroma_percentages.to_excel('coffee_aromas_percentages.xlsx',index = True)

In [84]:
#sort attributes further (layer_1, layer_2, etc.)
#pick top 5 counts

df_5 = pd.DataFrame(columns = ['country', 'attribute', 'count'])

for i in range(len(aroma_counts)):
    df_sub = pd.DataFrame() 
    df_sub['country'] = [aroma_counts.iloc[i,].name]*5
    df_sub['attribute'] = aroma_counts.iloc[i,].sort_values(ascending = False)[0:5].index.to_list()
    df_sub['count'] = aroma_counts.iloc[i,].sort_values(ascending = False)[0:5].to_list()
    top5_total = sum(aroma_counts.iloc[i,].sort_values(ascending = False)[0:5].to_list())
    df_sub['percentage'] = [x/top5_total for x in df_sub['count'].to_list()]
    df_5 = df_5.append(df_sub)

In [85]:
df_5

     country   attribute count  percentage
0    Bolivia   chocolate    15    0.483871
1    Bolivia       cedar     5    0.161290
2    Bolivia       honey     4    0.129032
3    Bolivia       lemon     4    0.129032
4    Bolivia        date     3    0.096774
..       ...         ...   ...         ...
0   Zimbabwe       sugar     1    0.200000
1   Zimbabwe    wisteria     1    0.200000
2   Zimbabwe       honey     1    0.200000
3   Zimbabwe  sandalwood     1    0.200000
4   Zimbabwe      papaya     1    0.200000

[205 rows x 4 columns]

In [86]:
df_5.to_excel('coffee_aromas_top5.xlsx',index = True)

In [87]:
df_5['attribute'].unique()

array(['chocolate', 'cedar', 'honey', 'lemon', 'date', 'cocoa', 'cherry',
       'almond', 'magnolia', 'fir', 'grapefruit', 'orange', 'sugar',
       'grape', 'apricot', 'nectarine', 'peach', 'myrrh', 'sandalwood',
       'apple', 'lily', 'whisky', 'honeysuckle', 'plum', 'gardenia',
       'lime', 'almond blossom', 'brandy', 'raspberry', 'oak', 'molasses',
       'pecan', 'pear', 'pineapple', 'plumeria', 'pine', 'lilac',
       'jasmine', 'tangerine', 'quince', 'peppercorn', 'caramel',
       'strawberry', 'aromatic wood', 'mango', 'lavender', 'toffee',
       'wisteria', 'papaya'], dtype=object)